{% extends "base.html" %}

{% block title %}
<title> Assignments</title>
{% endblock  %}



{% block content %}
<style>
    .main {
        margin-inline: 20px;
    }

    .add-button {
        text-align: end;
    }
</style>

<body>
<div class="main">
    <h2>Announcements</h2>

    {%if object_list%}
    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Subject</th>
                <th scope="col">Teacher</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>

            {% for announcement in object_list %}
            <tr>
                <th scope="row"></th>
                <td><a href="{% url 'announcements:announcement-detail' announcement.id %}"> {{announcement.subject}}</a></td>
                <td>{{announcement.author.username|capfirst}}</td>
                <td>{{announcement.date}}</td>
                {% if user.user_type == 2%}
                <td><button><a href="delete/{{announcement.id}}">Delete</a></button></td>
                {% endif%}
            </tr>
            {% endfor%}



            </tbody>
        </table>
    </div>
    {%if user.user_type == 1 %}
    <div class="add-button">
        <button><a href="{% url 'announcements:create'%}">Create Announcement</a></button>
    </div>
    {% endif%}
    {%else%}


    {%endif%}
</div>
</body>
{% endblock %}