<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div class="Mrphs-pagebody">


        <nav class="Mrphs-siteHierarchy moving">
    <div class="Mrphs-hierarchy--sites">


                            <span class="Mrphs-hierarchy--siteName" title="Home">
                <a href="https://lms.iba.edu.pk/portal/site/%7E17943/page-reset/22cc565f-42f4-4397-9013-c41d092fc336">
                                            <i class="fa fa-home" aria-hidden="true"></i>
                                        <span class="Mrphs-hierarchy--siteName-label">
                        Home
                    </span>
                </a>
            </span>
            <span class="Mrphs-hierarchy--siteNameSeparator Mrphs-hierarchy--separator"><i class="fa fa-lg fa-angle-right" aria-hidden="true"></i></span>
                                                                                                                </div>


                                                                                    <a href="https://lms.iba.edu.pk/portal/site/%7E17943/tool-reset/aa6d93e6-6b61-4b39-bf06-fa506f28aae9" title="Tool Home" class="Mrphs-hierarchy-item Mrphs-hierarchy--toolName">
                <span class="Mrphs-breadcrumb--reset-icon fa fa-share" aria-hidden="true"></span>
                <span class="Mrphs-breadcrumb--icon icon-sakai--sakai-announcements "></span>
                <span class="Mrphs-breadcrumb--toolNameText">Announcements</span>
            </a>

                                                            </nav>






                                    <!-- START VM includePageBody.vm -->

<h1 class="skip" tabindex="-1" id="tocontent">Content begins here</h1>


    <main id="content" class="Mrphs-mainContent " role="main">

        <div id="col1" class="Mrphs-pageColumns Mrphs-pageColumns--single">




                    <!-- start Tool Container -->


                    <div class="Mrphs-container Mrphs-sakai-announcements">

                    <!-- start Tool Header -->




                            <nav class="Mrphs-toolTitleNav Mrphs-container--toolTitleNav">



                                        <h2 class="Mrphs-toolTitleNav__title">
                                            <a href="https://lms.iba.edu.pk/portal/site/%7Ee0b563c4-4283-4ab0-95e2-b417fb38465a/tool-reset/aa6d93e6-6b61-4b39-bf06-fa506f28aae9" title="Tool Home: Announcements">
                                                <span class="Mrphs-toolTitleNav__link Mrphs-toolTitleNav__link--reset"></span>
                                                <span class="Mrphs-toolTitleNav__text">Announcements</span>
                                            </a>
					    <span class="Mrphs-toolTitleNav__addLeft"></span>
                                        </h2>



                                <div class="Mrphs-toolTitleNav__button_container ">



				                <span class="Mrphs-toolTitleNav__addRight"></span>

                                    <button class="Mrphs-toolTitleNav__link Mrphs-toolTitleNav__link--directurl" rel="#Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_directurl" title="Direct link to this tool" aria-haspopup="dialog">
                                        <span class="Mrphs-itemTitle">Link</span>
                                    </button>
                                    <div id="Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_directurl" role="dialog" aria-labelledby="Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_directurl__title" class="Mrphs-directUrl Mrphs-directUrl__dropDown">
                                        <i class="fa fa-times dropDown_close" aria-hidden="true" tabindex="0"></i>
                                        <label for="Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_urlholder" id="Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_directurl__title" class="dropDown_title">Direct link to this tool</label>

                                            <input tabindex="0" type="checkbox" id="directToolUrl-1" onclick="toggleShortUrlOutput('https://lms.iba.edu.pk/portal/directtool/aa6d93e6-6b61-4b39-bf06-fa506f28aae9/', this, 'Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_urlholder');" class="Mrphs-directUrl__checkbox"><label for="directToolUrl-1">Short URL</label>


                                        <textarea name="Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_urlholder" id="Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_urlholder" tabindex="0" class="Mrphs-directUrl__textarea Mainaa6d93e6x6b61x4b39xbf06xfa506f28aae9_urlholder">https://lms.iba.edu.pk/portal/directtool/aa6d93e6-6b61-4b39-bf06-fa506f28aae9/</textarea>
                                    </div>




                                        <a class="Mrphs-toolTitleNav__link Mrphs-toolTitleNav__link--help-popup" href="https://lms.iba.edu.pk/portal/help/main?help=sakai.announcements" title="Help for Announcements" target="_blank" onclick="openWindow('https://lms.iba.edu.pk/portal/help/main?help=sakai.announcements', 'Help', 'resizable=yes,toolbar=no,scrollbars=yes,menubar=yes,width=1024,height=768'); return false">
                                            <span class="Mrphs-itemTitle">Help</span>
                                            <span class="skip">Opens in a new window</span>
                                        </a>



                                </div>

                            </nav>


                    <!-- END Tool Header -->

                    <!-- START Tool Body -->


                        <!-- Buffered Body Tool Content -->

<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/announcement/chef_announcements-metadata.vm,v 1.7 2005/05/15 17:02:52 gsilver.umich.edu Exp $ -->

<script type="text/JavaScript">
        function change_parent_url(url)
        {
          parent.location=url;
        }
</script>

<div class="portletBody">


	<div class="page-header">
	  <h2>No Class on Sunday - For all sections</h2>
	</div>

	<div class="form-horizontal">
	  <div class="form-group">
	    <label for="" class="col-sm-2">Saved By</label>
	    <div class="col-sm-10">
	    	Dr. Faraz Ahmed Zaidi
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2">Modified Date</label>
	    <div class="col-sm-10">
	    					Apr 22, 2022 11:10 am
				    </div>
	  </div>


	  	  <div class="form-group">
	  		<label for="" class="col-sm-2">Groups</label>
	  		<div class="col-sm-10">
	  			site
	  		</div>
	  </div>

	</div>

	<div class="page-header">
		<h4>
			Message
		</h4>
	</div>

	<div class="message-body">
		<p></p><p>Dear Students,&nbsp;</p>

<p>Please note that no class has been scheduled for Sunday.</p>

<p>Best,</p>

<p>Faraz</p><p></p>
	</div>

	<form name="formII" action="https://lms.iba.edu.pk/portal/site/~17943/tool/aa6d93e6-6b61-4b39-bf06-fa506f28aae9?panel=Main" method="post">
		<div class="navPanel">
			<div class="itemNav">
									<input type="submit" name="eventSubmit_doPrev_message" value="<  Previous" disabled="disabled">
								<input type="submit" name="eventSubmit_doLinkcancel" value="Return to List">
									<input type="submit" name="eventSubmit_doNext_message" value=" Next >">
							</div>
		</div>
		<input type="hidden" name="sakai_csrf_token" value="1b9d3442cf246b04a849c5830218cf0a284be38f5e83c9a4aadbdf3bd9fb37e6">
	</form>

</div>


                        <!-- End Buffered Body Tool Content -->


                    <!-- end Tool Body -->

                    </div>

                    <!-- end Tool Container -->



        </div>


    </main> <!-- END of main.Mrphs-mainContent -->

<!-- END VM includePageBody.vm -->
        <div class="Mrphs-container Mrphs-container--footer">


        <footer id="footer" role="contentinfo" class="Mrphs-footer">

            <ul id="footer-links" class="Mrphs-footer--nav">


                <li><span><a href="/portal/site/!gateway">Gateway</a></span></li>


                <li><span><a href="/portal/help/TOCDisplay/content.hlp?docId=accessibilityinformation" target="_blank">Accessibility Information</a></span></li>


                <li><span><a href="http://www.sakaiproject.org/" target="_blank">The Sakai Project</a></span></li>


                <li class="Mrphs-footer--details">
                    <a id="Mrphs-footer--details__info" class="fa fa-info-circle" href="#" aria-haspopup="true"></a>
                    <div id="Mrphs-footer--details__panel" role="dialog" aria-label="Server Details Information Panel" aria-describedby="Mrphs-footer--details__description">
                        <div class="Mrphs-footer--details__heading">
                            <p id="Mrphs-footer--details__title">Sakai 19.1</p>
                            <p id="Mrphs-footer--details__description" class="sr-only">This panel contains information about the server that can be used for troubleshooting. The panel can include server time, your preferred time, the server name, and the build information.</p>
                            <a id="Mrphs-footer--details__close" role="menuitem" href="#\closeInfoPanel"><span class="sr-only">Close this panel</span><span class="fa fa-times" aria-hidden="true"></span></a>
                        </div>
                        <dl>
                                                            <dt class="Mrphs-footer--details__server-time">Server Time:</dt>
                                <dd id="serverTime" class="Mrphs-footer--server-time" data-servertzdisplay="PKT" data-serverdateandgmtoffset="1650767916743">Sun, 24 Apr 2022 02:39:40 PKT</dd>



                            <dt>Server:</dt>
                            <dd>SAKAI-UPGRADE</dd>

                            <dt>Build Info:</dt>
                            <dd>Sakai</dd>
                        </dl>
                    </div>
                </li>
            </ul>

            <div class="Mrphs-footer--project">
                <p class="Mrphs-footer--copyright">Copyright 2003-2022 The Apereo Foundation. All rights reserved.</p>
                <ul id="Mrphs-footer--poweredBy">

                                        <li>
                        <a href="https://www.sakaiproject.org/" target="_blank" class="external__link">
                            <img class="Mrphs-footer--poweredby__image" src="/library/image/poweredBySakai.png" alt="Powered by Sakai"><span class="skip external">(Opens in a new window)</span>
                        </a>
                    </li>

                </ul>
            </div>
        </footer>

        <div class="Mrphs-container Mrphs-container--extras">


    <div id="Mrphs-footerApp">




    </div>




        </div>         <div id="tutorial" class="Mrphs-tutorial Mrphs-modal"></div>
        <div id="social-alerts" class="Mrphs-tutorial Mrphs-modal"></div>


</div>

    </div>

</body>
</html>