<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">


    <title>Frontend Mentor | Four card feature section</title>
    <link rel="stylesheet" href="test.css">
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap"
            rel="stylesheet">
</head>

<body>
<div class="header">
    <h1>Reliable, efficient delivery</h1>
    <h1>Powered by Technology</h1>

    <p>Our Artificial Intelligence powered tools use millions of project data points
        to ensure that your project is successful</p>
</div>
<div class=container>
      <div class="row">
    <div class="columns">

            <div class="column is-one-third">
                <div class="box box-down blue">
                    <h2>Physics 101</h2>
                    <p>Sir Isaac Newton</p>
                    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box box-down blue">
                    <h2>Physics 101</h2>
                    <p>Sir Isaac Newton</p>
                    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
                </div>
            </div>
            <div class="column is-one-third">
                <div class="box box-down blue">
                    <h2>Physics 101</h2>
                    <p>Sir Isaac Newton</p>
                    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>


</body>

</html>