{% extends "base.html" %}

{% block title %}
<title> Submissions</title>
{% endblock  %}
{% block content %}
    <h2>Assignments</h2>




<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Submitted by</th>
      <th scope="col">File</th>
      <th scope="col">Submitted On</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">{{submissions.id}}</th>
      <td><a href="#"> {{submissions.author.username}}</a></td>
      <td><a  href="{{submissions.assignment_file.url}}">{{submissions.assignment_file}} </a></td>
      <td>{{submissions.submitted_date}}</td>
    </tr>


  </tbody>
</table>

{% endblock %}