<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="UTF-8">


        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
                crossorigin="anonymous"></script>

    </head>
</head>
<body>
<div class="portletBody">


    <h3>Assignment
        <span class="highlight">
						 	- In progress
							</span>
    </h3>
    <p class="instruction">
        Complete the form, then choose the appropriate button at the bottom.
    </p>
    <div class="itemSummary">
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="itemSummaryHeader">Title</div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="itemSummaryValue">
                    Homework 2
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="itemSummaryHeader">Due</div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="itemSummaryValue">
                    Apr 27, 2022 11:55 PM
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="itemSummaryHeader">Number of resubmissions allowed</div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="itemSummaryValue">
                    0
                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>
    <h4>
        Instructions
    </h4>

    <div class="textPanel"><p>Please find Homework 2 file attached</p></div>

    <h4>Additional resources for assignment</h4>
    <ul class="attachList">
        <li>
            <img src="/library/image/sakai/pdf.gif?panel=Main" border="0" alt="File attachment">
            <a href="https://lms.iba.edu.pk/access/content/attachment/da323e6c-de2b-438c-80cd-3debbf1f1e93/Assignments/5bd337f2-b3e7-4504-adf9-7aa5faadfea5/homework2_spring2022.pdf"
               target="_blank">homework2_spring2022.pdf</a>
            <span class="textPanelFooter">(
            152 KB;
        Apr 8, 2022 1:08 pm
    )</span>
        </li>
    </ul>





    <hr class="itemSeparator">
    <h3>Submission</h3>


    <form name="addSubmissionForm" id="addSubmissionForm"
          action="https://lms.iba.edu.pk/portal/site/da323e6c-de2b-438c-80cd-3debbf1f1e93/tool/abbb7761-32cd-44fa-8a18-4f22511b4915?panel=Main"
          method="post" onsubmit="return true;" enctype="multipart/form-data">
        <input type="hidden" name="eventSubmit_doRead_add_submission_form" value="x">
        <input type="hidden" name="option" id="option" value="cancel">
        <input type="hidden" name="currentAttachment" value="">
        <input type="hidden" name="assignmentId" value="$assignmentReference">


        <h4>Assignment Text</h4>


    </form>
</div>



</body>
</html>