{% extends "base.html" %}


{% block content %}

{% load crispy_forms_tags %}
    <style>
    .title{
        font-weight: bold;
    }
    </style>
<div class="container">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1 class="title">Quiz Creation</h1>
                    <p>Enter Questions in the next step</p>
                    <form action="" method="POST" class="requires-validation" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">NEXT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}