{% extends "base.html" %}


{% block content %}


<div class="form-body">
    <div class="row">
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h3>Quiz Creation</h3>
                    <p>Enter Questions in the next step</p>
                    <form action="" method="POST" class="requires-validation" novalidate>
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="col-md-12">
                            {{ form.Quiz_name.errors }}
                            <label for="{{ form.Quiz_name.id_for_label }}">Quiz Title</label>
                            {{ form.Quiz_name }}
                        </div>

                        <!--
                        <div class="col-md-12">
                            {{ form.course.errors }}
                            <label for="{{ form.course.id_for_label }}">Course Name</label>
                            {{ form.course }}
                        </div>
                            !-->

                        <div class="form-button mt-3">
                            <button id="submit" type="submit" class="btn btn-primary">NEXT</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}