<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Salam Alaikum</h1>
<a href="create-quiz"><button type="button" class="btn btn-rounded btn-primary" style="background-color:white !important;">Create Quiz</button></a>
<a href="create-question"><button type="button" class="btn btn-rounded btn-primary" style="background-color:white !important;">Create Questions</button></a>
<a href="quizzes"><button type="button" class="btn btn-rounded btn-primary" style="background-color:white !important;">Quizzes</button></a>
<a href="results"><button type="button" class="btn btn-rounded btn-primary" style="background-color:white !important;">Results</button></a>

</body>

</html>