<!doctype html>
<link rel="stylesheet" href="../static/courses/course_list.css">
{% extends "base.html" %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../static/courses/course_list.css">

    <title>Courses</title>

</head>
<body>
{% block title_name %}
LMS - Courses
{% endblock title_name %}

{% block content %}
<div class="container">
    <div>
        <h2 id="heading" style="font-size: 50px">All Courses</h2>
    </div>


    <div class="container">
        <div class="container">
            <div class="row">

                {% for course_item in object_list %}

                {% if user.user_type == 2%}

                {% if user == course_item.teacher %}

                 <div class="col-sm-4">

                    <div class="box box-down blue">
                        <h2>
                            <a href="{% url 'courses:course-detail' course_item.id %}">{{course_item.course_name}}</a>
                        </h2>
                        <p>{{course_item.teacher}}</p>
                        <p>{{course_item.course_description}}</p>
                    </div>
                </div>

                {% endif%}

                {% endif %}

                {% if user in course_item.students.all%}


                <div class="col-sm-4">

                    <div class="box box-down blue">
                        <h2>
                            <a href="{% url 'courses:course-detail' course_item.id %}">{{course_item.course_name}}</a>
                        </h2>
                        <p>{{course_item.teacher}}</p>
                        <p>{{course_item.course_description}}</p>
                    </div>
                </div>


                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock content %}
</div>
</body>
</html>